.chat
  = render partial: "groups/side", locals: { groups: @groups }

  .chat-main
    .chat-header
      .chat-header--left
        %h2
          = @group.name
        %p.chat-header__users
          Members:
          = render @group.users

      .chat-header--right
        = link_to 'Edit', edit_group_path(@group), class: "chat-header__edit-btn"

    .chat-body
      %ul.chat-messages
        = render @messages

    .chat-footer
      = form_for @message, :url => {:action => 'create'} do |f|
        .chat-footer__body
          = f.text_field :text, placeholder: "type a message",class: "chat-footer__body--textarea", id: "chat-group_name", value: @message.text, type: "text"
          %label.chat-footer__body__file
            %input#message_image{ name: "message[image]", type: "file"}
            %i.fa.fa-image
        = f.submit :Send, class: "chat-group-form__action-btn"